.menubar-left {
	float: left;
}

.menubar-right {
	position: absolute;
	top: 10px;
	right: 80px;
	float: right;
}

.carousel-size {
	height: 500px;
}

.carousel-inner .carousel-caption h2 {
	font-size: x-large;
}

.background-color {
	background-color: #222;
}

.login-size {
	height: 360px;
	width: 360px;
	position: absolute;
	left: 25%;
}

.register-size {
	height: 420px;
	width: 420px;
	position: absolute;
	left: 25%;
}

.maincontent {
	position: absolute;
	top: 10%;
	width: 100%;
}

.left-menu {
	position: fixed;
	top: 10%;
}

.form-group>label {
	font-size: 16px;
}

ul.nav-tabs {
	width: 140px;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

ul.nav-tabs li {
	margin: 0;
	border-top: 1px solid #ddd;
}

ul.nav-tabs li:first-child {
	border-top: none;
}

ul.nav-tabs li a {
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #fff;
	background: #0088cc;
	border: 1px solid #0088cc;
}

ul.nav-tabs li:first-child a {
	border-radius: 4px 4px 0 0;
}

ul.nav-tabs li:last-child a {
	border-radius: 0 0 4px 4px;
}

ul.nav-tabs.affix {
	top: 40px; /* Set the top position of pinned element */
}



#items {
	width: 900px;
	height: auto;
	margin: 0 auto;
	padding: 5px 0;
	clear: both;
}

#items ul, #items li {
	list-style: none;
}

#items li {
	width: 800px;
	height: 28px;
	text-align: right;
	background-image: url(../images/icon_text.gif);
	background-repeat: no-repeat;
	background-position: 50px center;
	padding-left: 0px;
	line-height: 28px;
	color: #CCC;
	border-bottom: dashed 1px #CCC;
}

#items li a {
	float: left;
	text-align: left;
	line-height: 28px;
	color: #666;
	text-decoration: none;
}

#items li a:hover {
	color: #F00;
}

